@font-face {
    font-family: 'Fonarto_regular';
    src: url("../public/font/fonarto.regular.ttf") format("truetype");
}

#root {
    width: 100vw;
}

.loading-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.brand-logo {
    font-family: 'Fonarto_regular', sans-serif;
}

/*Animate the brand-logo with changing color to blue*/
.loading-logo h1::before {
    content: "RantoPenjy";
    position: absolute;
    display: flex;
    height: 20vh;
    color: #646cff;
    overflow: hidden;
    animation: loading-page-animation 20s ease-in-out infinite;
}

.navbar-nav {
    flex-direction: row !important;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-brand {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-grow: 1;
}

/* Center the ul of #navbar-links1 and #navbarLinks2 to their parent*/
#navbarLinks1, #navbarLinks2 {
    flex-grow: 2;
}

#navbarLinks1 ul, #navbarLinks2 ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

#navbarLinks1 li, #navbarLinks2 li {
    margin: 0 10px; /* Add spacing between list items if needed */
}

#menu {
    position: absolute !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 5;
}

@keyframes loading-page-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
